Set next_url from atom:link rel="prev-archive"

[RFC5005 section 4, "Archived Feeds"](https://tools.ietf.org/html/rfc5005#section-4), provides pagination for Atom and RSS feeds by adding links of this form:

```xml
<atom:link rel="prev-archive" href=".../older-feed.xml"/>
```

I'd like to see feed2json.org translate that to JSON Feed's `'next_url'` pagination mechanism.

I was going to try writing a patch but I'm not sure how to do it. The underlying feed2json library shouldn't know how to construct a URL that would use feed2json.org to translate the linked feed, since that library should be more general than this web site.

If you have a patch to test, feel free to either use [my blog's Atom feed](https://jamey.thesharps.us/feed.xml), or use my [full-history feed generator](https://fh.minilop.net/) to generate longer or shorter test data.